body {
    background-image: url('/images/BGImage.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    /* Center Logins */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form {
    background-color: rgba(0,0,0,0.3);
    display: block;
    padding: 1rem;
    max-width: 30%;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #00afd6;
}

.input-container {
    position: relative;
}

.input-container input{
    outline: none;
    border: 1px solid #e5027e;
    margin: 8px 0;
}

.input-container input {
    background-color: rgba(0,0,0,0.3);
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    border: 1px solid #e5027e;
    color: white;
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #004656;
    color: #d7d7d7;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin: 8px 0;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #00afd6;
    text-transform: uppercase;
}

.signup-link {
    color: #d7d7d7;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}