@page
@model CampusLearn_Web_App.Pages.LoginPageModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />


<form class="form">
    <p class="form-title">Sign in to your account</p>
    <div class="input-container">
        <input type="email" placeholder="Enter email">
        <span>
        </span>
    </div>
    <div class="input-container">
        <input type="password" placeholder="Enter password">
    </div>
    <button type="submit" class="submit">
        Sign in
    </button>

    <p class="signup-link">
        No account? 
        <a asp-page="/RegisterPage">Register here</a>
    </p>
</form>
