@page
@model CampusLearn_Web_App.Pages.RegisterPageModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />

<div class="form-box">
    <form class="form">
        <p class="form-title">Register your account</p>
        <div class="input-container">
            <input type="text" class="input" placeholder="Full Name">
            <input type="email" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">
        </div>
        <button type="submit" class="submit">Sign up</button>
        <div class="signup-link">
            <p>Have an account? <a asp-page="/LoginPage">Login here</a></p>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}