@page
@model CampusLearn_Web_App.Pages.Student.MyCoursesModel
@{
    ViewData["Title"] = "Student Courses";
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}

<link rel="stylesheet" href="~/css/courses.css" asp-append-version="true" />

<h2>My Courses</h2>
<div class="CourseContainer">
    No courses enrolled yet.
</div>